---
import '@/styles/globals.css'
import Layout from '@/layouts/Layout.astro';

import { Button } from "@/components/ui/button"
---

<Layout title="HogarPlanner">
	<main>
		<span class="text-red-600 animate-blurred-fade-in">HogarPlanner</span>
		<Button>Hello World</Button>
	</main>
</Layout>
